*{outline: 1px solid rgba(255,0,0,0.4);}
body{font-family: Promt;}
/*header-nav*/
.nav-color{
    background: #037f99;
}
/*--------- Header */

header a,h3{
	color: #fff;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
}
nav li a:hover, nav li a:focus{
	text-decoration: none;
	outline: none;
	background: #f4f0bb;
}

#main-navigation{
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul{
	background: rgba(3,127,153,0.7);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
.btn-nav p{
    margin: 10px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 17px;
    vertical-align: middle;
}

.btn-nav span{
    background-color: #fff;
   
}
/*--------- SECTION HERO */
.hero-color{
    background: #ecf7fb;
}
.hero-img{
    background-image: url(../img/img-1.jpg);
   
    background-position: center;
}

.centrado{ /* --------centrado decente--------*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
}
.centrar{
    margin: 0 auto; /* --------centrado decente--------*/
    text-align: center;
}